.wrapper {
  margin-top: 30px;
}

.mineAlert {
  margin-top: 50px;
}

#inputButton {
  margin-top: 50px;
}

.myDate {
  margin-top: 50px;
  color: blueviolet;
  font-size: 20px;
  margin-left: 50px;
}
.inputForm {
  width: 350px;
  margin-top: 50px;
}

p {
  margin-left: 20px;
}
